body {
  margin: 0;
  padding: 0;
}

img[alt=logo] {
  width: 200px;
}

/* Less visual emphasis on authorizations */
#redoc div > div > span > span:after {
  color: rgb(8, 12, 12);
  font-weight: normal;
  text-transform: lowercase;
}

/* Less visual emphasis on length limitations */
#redoc div > div > span > span {
  background: initial;
  border: initial;
  font-family: inherit;
  margin: 0;
  padding: 0;
  color: rgb(14, 124, 134);
}
